{% extends 'authority/index.html' %}

{% block title %} Privacy Policy {% endblock %}


{% block content %}
{% load static %}


<style type="text/css">
	strong{
		color: #22cd92;
	}
</style>

<br>
<div class="row">
	<div class="col-10 pl-5 pr-5 darkRowBorder darkNormalContent" style="left:10%;">
		<center><h2 style="color:#22cd92">Privacy Policy</h2></center>

		<hr style="border-color:#22cd92">

		<ul>
				<li>
					All information received by us from your registration on our website or other digital products of Business Standard will be used by Business Standard in accordance with our Privacy Policy. Kindly read the below mentioned details.
				</li>
				<li>
					On registration, we expect you to provide Business Standard with an accurate and complete information of the compulsory fields. We also expect you to keep the information secure, specifically access passwords. Kindly update the information periodically to keep your account relevant. Business Standard will rely on any information you provide to us.
				</li>
				<li>
					Each registration is for a single user only. On registration, you will choose a user name and password ("ID"). You are not allowed to share your ID or give access to your account to anyone else. Business Standard Premium subscription does not allow multiple users on a network or within an organization to use the same ID.
				</li>
				<li>
					On knowledge, Business Standard may cancel or suspend your access to Business Standard premium services if it comes across you sharing your personal access without further obligation to you.
				</li>
				<li>
					You are responsible for all the use of business-standard.com premium service made by you or anyone else using your ID and for preventing unauthorised use of your ID. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID or any payment information, you must notify Business Standard immediately by e-mailing us at farmybizz@gmail.com We recommend that you do not select an obvious user password (such as your name) and that you change it regularly.
				</li>
				<li>
					If you provide Business Standard with an email address that will result in any messages Business Standard may send you being sent to you via a network or device operated or owned by a third party (e.g. your employer or college) then you promise that you are entitled to receive those messages. To ensure email's land in your inbox, you will add the bsmail receipt id to your safe list. You also agree that Business Standard may stop sending messages to you without notifying you.
				</li>

			</ul>

			<strong>📢 Important:</strong><br>
			(A) When you participate and choose to subscribe to joint content subscription offers that Business Standard partners with; your email id, access password and entered personal information will be shared with the participating content partner brand via an encrypted server to server protocol. This sharing is to facilitate your seamless access across the partner brand's platform. Once you login to the partner brand's platform, specific terms and privacy policies of the partner brand (mentioned on its website) will apply.

	</div>
</div>  
<br>

{% endblock %}