<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FARMY Password ?</title>
  {% load static %}
  <link rel="icon" href=" {% static 'farmer/images/mainlogo.png' %} " type="image/x-icon">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
  <!-- Custom styles for this template-->
  
  <link href="{% static 'farmer/css/sb-admin-2.min.css'%} " rel="stylesheet">
  <!--<link href="css/style.css" rel="stylesheet">-->

</head>

<body class="bg-gradient-dark">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><img src="{% static 'farmer/images/mainlogo.png'%}" style="    position: relative;top: -0.5rem;left: 0rem;width: 20%;">Chill We're here !</h1>
                  </div>
                  
                  <form class="user" method="POST" action="{% url 'farmerApp:change_password' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label  style="position: relative;font-size: 11px;top: 9px;color: #3ea931;">Email/Username</label>
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" value=" {{username}} " disabled>
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" value=" {{username}} " name="username" hidden>
                    </div>

                    <div class="form-group">
                      <label  style="position: relative;font-size: 11px;top: 9px;color: #3ea931;">Create New Password</label>
                     <input type="password" class="form-control form-control-user" name="password" id="password" 
                     autocomplete="off" >
                     <span onclick="toggle()" style="position: relative; top: -35px; left: 90%;">
                        <i class="far fa-eye" onclick="myFunction(this)"></i>
                     </span>
                   </div>
                   <div class="form-group">
                     <label  style="position: relative;font-size: 11px;top: 9px;color: #3ea931;">Confirm Password</label>
                     <input type="password" class="form-control form-control-user" name="repassword" id="repassword" onkeyup="reverify()">
                     <span onclick="toggling()" style="position: relative; top: -35px; left: 90%;">
                        <i class="far fa-eye" onclick="myFunction(this)"></i>
                     </span>

                   </div>
                    
                    <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block" id="submit"  onclick="done();" disabled>

                    <hr>
                    <div class="text-center">
                     <a class="small" href="login.html">Already have an Account? Login!</a>
                   </div>
                   <div class="text-center">
                     <a class="small" href="register.html">Create an Account!</a>
                   </div>
                   <hr>
                 </form>

               </div>
             </div>
           </div>
         </div>
       </div>

     </div>

   </div>

 </div>
 <script>
        //Show and Hide password
        var state = false;
        function toggle(){
          if(state){
            password.setAttribute("type","password");
            state=false;
          }
          else{
            password.setAttribute("type","text");
            state=true;
          }
        }
        function myFunction(show){
          show.classList.toggle("fa-eye-slash");
        }

        var state1 = false;
        function toggling(){
          if(state1){
            Repassword.setAttribute("type","password");
            state1=false;
          }
          else{
            Repassword.setAttribute("type","text");
            state1=true;
          }
        }
        function mytoggle(show){
          show.classList.toggle("fa-eye-slash");
        }

        function reverify(){
          pass=document.getElementById('password').value;
          repass=document.getElementById('repassword').value;
          if(pass == repass)
          {
            document.getElementById('submit').disabled=false;
          }
          else{
            document.getElementById('submit').disabled=true;
          }

        }

        function done(){
          alert('Password Updated Sucessfully');
        }
      </script>
      <!-- Bootstrap core JavaScript-->
      <script src="{% static 'js/sb-admin-2.min.js'%}"></script>

    </body>

    </html>


