<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FARMY Password ?</title>
  {% load static %}
  <link rel="icon" href=" {% static 'farmer/images/mainlogo.png' %} " type="image/x-icon">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <script src="https://kit.fontawesome.com/1c2c2462bf.js" crossorigin="anonymous"></script>
  <!-- Custom styles for this template-->
  
  <link href="{% static 'farmer/css/sb-admin-2.min.css'%} " rel="stylesheet">
  <!--<link href="css/style.css" rel="stylesheet">-->

</head>
{% if  status == 'not found' %}
<script type="text/javascript">
  alert('Email address not found');
  window.location.href = " {% url 'farmerApp:register' %} ";
</script>
{% endif %}
{% if  status == 'invalid' %}
<script type="text/javascript">
  alert('Invalid OTP');
  window.location.href = " {% url 'farmerApp:forgot' %} ";
</script>
{% endif %}
{% if  status == 'found' %}
<script type="text/javascript">
  alert("you have recieved otp please enter it!!");
</script>
<body class="bg-gradient-dark">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4"><img src="{% static 'farmer/images/mainlogo.png'%}" style="    position: relative;top: -0.5rem;left: 0rem;width: 20%;">Chill We're here !</h1>
                  </div>
                  
                  <form class="user" method="POST" action="{% url 'farmerApp:farmer_otp' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label  style="position: relative;font-size: 11px;top: 9px;color: #3ea931;">Email/Username</label>
                      <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" value="{{username}}" disabled>
                    </div>
                    
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" value="{{username}}" name="username" hidden>


                    <div class="form-group">
                      <label  style="position: relative;font-size: 11px;top: 9px;color: #3ea931;">Enter OTP</label>
                      <input type="number" class="form-control form-control-user" name="otp" id="otp" 
                      placeholder="Enter OTP">                                        
                    </div>
                    <input type="number" class="form-control form-control-user" name="main_otp"  value="{{OTP}}" 
                    hidden>                                        

                    <script type="text/javascript">
                      var count = 60;
                      var interval = setInterval(function(){
                        document.getElementById('count').innerHTML=count+'s';
                        count--;
                        if (count === -2){
                          document.getElementById('count').innerHTML='Expired';
                          clearInterval(interval);
                          // or...
                          alert("You're out of time! Please Try Again");
                          window.location="{% url 'farmerApp:forgot' %}"
                        }
                      }, 1000);
                  </script>
                  <br>
                  <div class="form-group">
                    <center>
                      <p>Enter Your OTP before timer expires:</p>  
                      <b><span id="count" style="color: red;">60s</span></b>
                    </center>
                  </div>

                <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block">
                </div>

                <hr>
                <div class="text-center">
                 <a class="small" href="login.html">Already have an Account? Login!</a>
               </div>
               <div class="text-center">
                 <a class="small" href="register.html">Create an Account!</a>
               </div>
               <hr>
             </form>

           </div>
         </div>
       </div>
     </div>
   </div>

 </div>

</div>

</div>
{% endif %}
<script src="{% static 'js/sb-admin-2.min.js'%}"></script>
</body>

</html>
