{% extends 'farmer/index.html' %}

{% block title %}  Terms and Conditions {% endblock %}

{% block content %}

<style type="text/css">
	strong{
		color: #22cd92;
	}
</style>

<br>
<div class="row">
	<div class="col-10 pl-5 pr-5 darkRowBorder darkNormalContent" style="left:10%;">
		<center><h2 style="color:#22cd92">Terms And Conditions</h2></center>

		<hr style="border-color:#22cd92">

		<p>This following sets out the terms and conditions on which you may use the content on our website, our website's mobile browser site, 
Business Standard instore Applications and other digital publishing services owned by Business Standard Private Limited, all the services
herein will be referred to as Business Standard Content Services. <br>
<br>
⚫ <strong>Registration Access and Use : </strong><br>
We welcome users to register on our digital platforms. We offer the below mentioned registration services which may be subject to 
change in the future. All changes will be appended in the terms and conditions page and communicated to existing users by email.
<br>

			Registration services are offered for individual subscribers only. If multiple individuals propose to access the same account or for corporate accounts kindly contact or write in to us.
			<br>

			The nature and volume of Business Standard content services you consume on the digital platforms will vary according to the type of registration you choose, on the geography you reside or the offer you subscribe to.
			<br>

			a) Free Registration
<br>
			b) Premium Registration
<br>
			c) Special Offers
<br>
			d) Combo registrations with partners
<br>
			We may in exceptional circumstances cease to provide subscription services. We will give you at least 7 days notice of this, if possible. If we do so, then we will have no further obligation to you.
<br>
<br>
⚫ <strong>Privacy Policy and Registration : </strong><br>		
			All information received by us from your registration on our website or other digital products of Business Standard will be used by Business Standard in accordance with our Privacy Policy. Kindly read the below mentioned details.

			On registration, we expect you to provide Business Standard with an accurate and complete information of the compulsory fields. We also expect you to keep the information secure, specifically access passwords. Kindly update the information periodically to keep your account relevant. Business Standard will rely on any information you provide to us.

			Each registration is for a single user only. On registration, you will choose a user name and password ("ID"). You are not allowed to share your ID or give access to your account to anyone else. Business Standard Premium subscription does not allow multiple users on a network or within an organization to use the same ID.

			On knowledge, Business Standard may cancel or suspend your access to Business Standard premium services if it comes across you sharing your personal access without further obligation to you.

			You are responsible for all the use of business-standard.com premium service made by you or anyone else using your ID and for preventing unauthorised use of your ID. If you believe there has been any breach of security such as the disclosure, theft or unauthorised use of your ID or any payment information, you must notify Business Standard immediately by e-mailing us at farmybizz@gmail.com We recommend that you do not select an obvious user password (such as your name) and that you change it regularly.

			If you provide Business Standard with an email address that will result in any messages Business Standard may send you being sent to you via a network or device operated or owned by a third party (e.g. your employer or college) then you promise that you are entitled to receive those messages. To ensure email's land in your inbox, you will add the bsmail receipt id to your safe list. You also agree that Business Standard may stop sending messages to you without notifying you.

<br><br>
			<strong>📢 Important : </strong><br>
			(A) When you participate and choose to subscribe to joint content subscription offers that Business Standard partners with; your email id, access password and entered personal information will be shared with the participating content partner brand via an encrypted server to server protocol. This sharing is to facilitate your seamless access across the partner brand's platform. Once you login to the partner brand's platform, specific terms and privacy policies of the partner brand (mentioned on its website) will apply.
<br><br>
⚫ <strong>User Generated Content : </strong><br>		
			
			Business-standard.com includes comments sections, blogs and other interactive features that allow interaction between users and between users and Business Standard. We call the information posted by or contributed by users "User Generated Content" or "UGC".

			If you wish to view or participate by way of UGC then you must comply with specific rules and guidelines. We also recommend that you read our Comments Guidelines which provide further guidance in relation to commenting on Business-standard.com.

			You are responsible for all the content of any of your UGC that you or we publish. You are financially responsible to us for any claim against us by any third party that your UGC is not in accordance with the UGC policy

			You further agree that you will:
<br>
			* Only publish UGC that is your original content and will not infringe the copyright or other rights of any third party when publishing UGC. Not post, link to or otherwise publish any UGC containing any form of advertising or promotion for goods and services or any spam or other form of unsolicited communication.
<br>
			* Not post, link to or otherwise publish any UGC with recommendations to buy or not buy a particular share or other investment or which contain confidential information of another party or which otherwise have the purpose of affecting the price or value of any share or other investment.
<br>
			* Not post, link to or otherwise publish any UGC that is threatening, offensive, libellous, indecent or otherwise unlawful.
<br>
			* Not post comments that are discriminatory in nature, for example, comments which make attacks on the grounds of race, religion, sex, gender, sexual orientation, disability or age.
<br>
			* Respectfully challenge different points of view but not personally attack other commentators.
<br>
			* Not disguise the origin of any UGC and not impersonate any person or entity (including Business Standard employees or Forum guests or hosts) or misrepresent any connection with any person or entity.
<br>
			* Not post or otherwise publish any UGC unrelated to the Forum or the Forum's topic.
<br>
			* Not post or transmit any UGC that contains software viruses, files or code designed to interrupt, destroy or limit the functionality of Business-Standard.com or any computer software or equipment.
<br>
			* Not collect or store other users personal data.
<br>
			* Not restrict or inhibit any other user from using the Forums.
<br>
			* Comply with the guidelines for commenting set out in our Commenting FAQ.
<br>
<br>
⚫ <strong>Third Party Sites and Services : </strong><br>		
			

			Business-standard.com may contain links to other Internet websites or online and mobile services provided by independent third parties, including websites of our advertisers and sponsors (what we call "Third Party Sites"), either directly or through frames. Third Party Sites also include co-branded with Business Standard and so include Business Standard's trade marks.

			It is your decision whether you purchase or use any third party products or services made available on or via Third Party Sites and you should read Section 9 below carefully. Our Privacy Policy does not apply to Third Party Sites.

			Business-Standard.com contains advertising and sponsorship. Advertisers and sponsors are responsible for ensuring that material submitted for inclusion on Business-standard.com complies with international and national law. Business Standard is not responsible for any error or inaccuracy in advertising, incorrect links or sponsorship material.

			Copyright in any software that is made available for download from Business-standard.com belongs to Business Standard or its suppliers or contributors. Your use of the software is governed by the terms of any licence agreement that may accompany or be included with the software. Do not install or use any of this software unless you agree to such licence agreement. Business Standard is not responsible for any technical or other issues that may happen if you download third party software.
<br><br>
⚫ <strong>Our Responsibilities towards You : </strong><br>		

			A summary of what this section means: this section is important and you should read it carefully. It makes clear to what extent, if any, Business Standard accepts responsibility (liability) to you for your use of Business-standard.com or in respect of any third party products or services that we refer to or advertisements or any other link to on business-standard.com. Unless you are a premium subscriber to Business-standard.com, we accept no financial responsibility to you arising from your use of business-standard.com or the content, advertisements and links published on business-standard.com. If you are a Business Standard premium service subscriber, we limit our financial responsibility to you arising from your use of Business-Standard.com and/or the Premium Services you consume on business-standard.com to the price you paid for your subscription.

			In no circumstances do we accept responsibility for your use of Third Party Sites or services not limited to advertisements, links in respect of any Third Party Products. By Third Party Sites we mean websites, online or mobile services provided by third parties, including websites of advertisers and sponsors that may appear on business-standard.com. By Third Party Products we mean products or services provided by third parties.

			What we promise:

			Business Standard promises to develop and operate business-standard.com with reasonable skill and care and will use reasonable efforts to promptly remedy any faults of which it is aware or made aware of.

			What we do not promise:

			Business Standard does not provide any promises or warranties other than defined above. The content is provided on an "as is" and "as available" basis. While the content creation team and its partners from whom content is syndicated make the best of their efforts to put together accurate, complete and authentic content, Business Standard and business-standard.com does not make any promises in respect of content published on its website and/or the services and functions available on or through business-standard.com or of the quality, completeness or accuracy of the information published on or linked to from business-standard.com other than as expressly stated above.

			The above disclaimers apply to your use of Business-Standard.com. Without limiting the above, Business Standard is not liable for matters beyond its reasonable control. Business Standard does not control third party communications networks (including your internet service provider), the internet, acts of god or the acts of third parties.



			Changes to Terms and Conditions and Validity

		These terms and conditions were published on 20th April 2021 and replace with immediate effect the terms and conditions previously published.
		<br><br>
	</p>
	</div>
</div>  
<br>
{% endblock %}