{% extends 'admin/index.html' %}

{% block title %} Farmer Connect {% endblock %}


<!-- Page Heading -->
{% block content %}
<style type="text/css">
    .pagination {
       display: inline-block;
   }

   .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
  }

  .pagination a.active {
      background-color: #29323c;
      color: white;
  }

  .pagination a:hover:not(.active) 
  {
    background-color: #ddd;
}
</style>
<!-- Page Heading -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<center><h1 class="darkNormalContent">Farmer Connect</h1></center>


<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-align-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <!--<th>Sr.</th>-->
                        <th>Farmer Name</th>
                        <th>Farmer Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                          <td>{{i.1}}</td>
                          <td><a href="mailto:{{i.2}}">{{i.2}}</a></td>
                          <td>{{i.3}}</td>
                          <td>{{i.4}}</td>
                          <td>{{i.5}}</td>
                          {% if i.5 == "Solved" %}
                          <td>
                            <a href="{% url 'adminApp:farmer_connect' i.0  %}" class="btn btn-primary disabled" onclick="check('Are you sure?')" >Solved</a>
                        </td>
                          {% else %}
                          <td>
                            <a href="{% url 'adminApp:farmer_connect' i.0  %}" class="btn btn-primary" onclick="check('Are you sure?')">Solve</a>
                        </td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if data.has_other_pages %}
              <center>
                <div class="ml-5 pagination darkNormalContent">
                  {% if data.has_previous %}
                  <a class="darkNormalContent" href="?page={{ data.previous_page_number }}">&laquo;</a>
                  {% else %}
                  <a class="disabled darkNormalContent">&laquo;</a>
                  {% endif %}
                  {% for i in data.paginator.page_range %}
                  {% if data.number == i %}
                  <a class="active darkNormalContent">{{ i }} <span class="sr-only">(current)</span></a>
                  {% else %}
                  <a class="darkNormalContent" href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                  {% endfor %}
                  {% if data.has_next %}
                  <a class="darkNormalContent" href="?page={{ data.next_page_number }}">&raquo;</a>
                  {% else %}
                  <a class="disabled darkNormalContent">&raquo;</a>
                  {% endif %}
                </div>
              </center>
              {% endif %}
        </div>
    </div>
</div>
<br>

<script type="text/javascript">
    function check() {
        if(confirm("Are you sure you want to Delete?"))
        {

        }
        else
        {
          window.location.href="adminApp:farmer_connect";
        }
    }
</script>
{% endblock %}